includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: max
    paths:
        - src
        - tests
        - examples
#
#services:
#    -
#        class: Star\Component\State\Port\PHPStan\StateMetadataExtension
#        tags:
#            - 'phpstan.broker.dynamicMethodReturnTypeExtension'
