<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals="false"
        backupStaticProperties="false"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        failOnAllIssues="true"
        bootstrap="vendor/autoload.php"
>

    <testsuites>
        <testsuite name="main">
            <directory>tests</directory>
        </testsuite>

        <testsuite name="examples">
            <directory>examples</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
